/* Estilos para seção Funcionalidades */
#funcionalidades {
  background: #0D0D0D;
  color: #EAEAEA;
}
#funcionalidades .card {
  background: #3C0A3D;
  border: 2px solid #BF9B30;
  color: #EAEAEA;
  box-shadow: 0 0 12px #8C0E03;
  transition: transform 0.3s;
}
#funcionalidades .card-title {
  color: #BF9B30;
  font-family: 'RomanNewTimes', serif;
}
#funcionalidades .card:hover {
  transform: scale(1.04);
  box-shadow: 0 0 24px #BF9B30;
}
